/* Extra small devices (phones, less than 768px) */
/***** typography *****/
h1,h2,h3,h4,h5 {
  font-family: 'Spinnaker',sans-serif;
  font-weight: 700;
  color: #053B64;
}

.btn {
  font-family: 'Spinnaker', sans-serif;
}

body {
  font-family: 'Raleway',Arial,sans-serif;
  background-image: url(../img/subtle_white_mini_waves/subtle_white_mini_waves.png);
  opacity: 0;
  transition: opacity 4s ease-out;
}

.header-container, #navbar-container {
  margin-top: 20px;
}

#header-img {
  width: 100%;
  height: auto;
}

.btn-spv {
  color: #FFF;
  background: #195887;
  background: -webkit-linear-gradient(#0F75BC,#195887);
  background: linear-gradient(#0F75BC,#195887);
}

.btn-spv:hover, .btn-spv:focus {
  background: #4C8BBA;
  color: #FFF;
}

.btn-donate {
  font-size: 18px;
  padding: 10px 40px;
}

.btn-register, .btn-psa {
  font-size: 18px;
  margin-top: 20px;
}

.btn-psa {
  background-color: #EB5A4E;
  box-shadow: 0 0.25em 0 0 #c15b5a,0 4px 9px rgba(0,0,0,0.75);
  border: none;
  color: #FFF;

  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.btn-psa:hover, .btn-psa:focus {
  background-color: #F1766B;
  color: #FFF;
}

.site-search-bar {
  width: 100%;
}

.navbar {
  border: none;
  margin-bottom: 0;
  font-family: 'Spinnaker', sans-serif;
}

#navbar-container {
  /*background-color: rgba(11,98,164,.9);
  background-color: #053B64;*/
  background-color: rgba(5,59,100,.9);
  border-color: rgba(5,59,100,.9);
  border-top: 3px solid rgba(5,59,100,.9);
  border-bottom: 3px solid rgba(5,59,100,.9);
  margin-bottom: 20px;
}

.navbar-main .navbar-nav>li>a, .dropdown-menu>li>a,
.navbar-main .navbar-nav li>a, .dropdown-menu li>a {
  color: #FFF;
  -webkit-transition: background-color .2s, color 1s;
  transition: background-color .2s, color 1s;
}

.navbar-main .navbar-nav>li>a:hover, .navbar-main .navbar-nav>li>a:focus,
.navbar-main .dropdown-menu>li>a:hover,  .navbar-main .dropdown-menu>li>a:focus,
.navbar-main .dropdown-menu li>a:hover,  .navbar-main .dropdown-menu li>a:focus{
  background-color: rgba(255,255,255,.2);
  color: #FFBF00;
  cursor: pointer;
  text-decoration: none;
}

.navbar-main .navbar-nav>.active>a, .navbar-main .navbar-nav>.active>a:hover,
.navbar-main .dropdown-menu>.active>a, .navbar-main .dropdown-menu>.active>a:hover {
  background-color: rgba(0,0,0,.2);
}

.navbar-main .navbar-toggle {
  border-color: #FFF;
}

.navbar-main .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-main .navbar-toggle:focus, .navbar-main .navbar-toggle:hover {
  background-color: rgba(255,255,255,.4);
}

.dropdown-menu > li > strong, .dropdown-menu > li > .dropdown-header {
  color: #FFF;
  padding: 3px 10px;
}

/***** image carousel *****/
.carousel-col {
  height: 130px;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cmm-image-slider-container {
  margin-bottom: 20px;
}

.rslides_nav {
  display: none;
}

/***** home info boxes *****/

.main-content {
  background-color: rgba(240,240,240,.3);
  border: 3px solid #053B64;
  padding: 10px 20px 10px 20px;
}

.home-info-box {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 0;
}

.home-info-box ul {
  padding-left: 10px;
}

.home-info-box td {
  border: none !important;
}

#updates > p > a {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Spinnaker', sans-serif;
}

#updates > p > a:hover {
  cursor: pointer;
}

/***** footer *****/

footer h3 {
  margin-top: 0;
}

#footer-links-container {
  background-color: rgba(5,59,100,.7);
  overflow: auto;
  padding: 40px;
}

#footer-links-container a, #footer-links-container p {
  color: #FFF;
}

#footer-links-container h3, #footer-links-container h4 {
  color: rgba(0,0,0,.45);
}

#footer-links-container h4, #footer-links-container ul {
  margin: 0;
}

#footer-links-container ul {
  list-style-type: none;
  padding-left: 10px;
}

#footer-links-container ul>li>a {
  font-size: 12px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#footer-links-container ul>li>a:hover {
  color: #FFBF00;
  text-decoration: none;
  cursor: pointer;
}

.sm-links .fa {
  margin-right: 30px;
  color: #FFF;
  opacity: 0.6;

  -webkit-transition: color .3s;
  transition: color .3s;
}

.sm-links .fa:hover {
  opacity: 0.9;
  cursor: pointer;
}

.address-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 425px) {
  .dropdown-menu > li > strong {
    white-space: nowrap;
  }

  .carousel-col {
    height: 250px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /***** nav *****/
  .nav a, .nav strong {
    font-size: 11px;
  }

  .navbar-main .navbar-nav {
    display: table;
    width: 100%;
    margin: 0;
  }

  .navbar-main .navbar-nav>li {
    float: none;
    display: table-cell;
    text-align: center;
    border-right: 1px solid #053B64;
  }

  .navbar-main .navbar-nav>.nav-first {
    border-left: 1px solid #053B64;
  }

  .navbar-nav>li>.dropdown-menu {
    border: 2px solid #053B64;
    /*background-color: rgba(11,98,164,.9);*/
    background-color: rgba(5,59,100,.9);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .list-item-wrap {
    min-width: 225px;
  }

  .list-item-wrap > li > strong, .list-item-wrap > li > a {
    white-space: normal;
  }

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /***** custom utility classes *****/
  .vcenter { /* vertical align elements in the center */
    display: inline-block;
    vertical-align: middle;
    float: none;
  }

  /***** nav *****/
  .nav a, .nav strong {
    font-size: 14px;
  }

  .list-item-wrap {
    width: 290px;
  }

  .btn-register, .btn-psa {
    font-size: 24px;
  }

  /***** home carousel *****/
  .carousel-col {
    height: 300px;
  }
}

/*Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .home-info-box {
    height: 350px;
  }

}
